pkgbase = vidi
	pkgdesc = Terminal UI for YouTube and Twitch
	pkgver = 0.3.2
	pkgrel = 1
	url = https://codeberg.org/Fel/Vidi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = yt-dlp
	depends = mpv
	depends = gcc-libs
	optdepends = streamlink: Twitch live stream status and playback
	optdepends = kitty: inline thumbnail previews
	optdepends = ghostty: inline thumbnail previews
	optdepends = wezterm: inline thumbnail previews
	provides = vidi
	conflicts = vidi-bin
	conflicts = vidi-git
	options = !lto
	source = vidi-0.3.2.tar.gz::https://github.com/Fel-2/Vidi/archive/refs/tags/v0.3.2.tar.gz
	sha256sums = a1d18bf856ef18b726a8ef191fc013ec4a32238e2ed7c43e982c30f9a60dd2c3

pkgname = vidi
