pkgbase = vidi
	pkgdesc = Terminal UI for YouTube, Twitch and PeerTube
	pkgver = 0.3.3
	pkgrel = 1
	url = https://codeberg.org/Fel/Vidi
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = yt-dlp
	depends = mpv
	depends = gcc-libs
	optdepends = streamlink: Twitch live stream status and playback
	optdepends = kitty: inline thumbnail previews
	optdepends = ghostty: inline thumbnail previews
	optdepends = wezterm: inline thumbnail previews
	provides = vidi
	conflicts = vidi-bin
	conflicts = vidi-git
	options = !lto
	source = vidi-0.3.3.tar.gz::https://github.com/Fel-2/Vidi/archive/refs/tags/v0.3.3.tar.gz
	sha256sums = c47be47b1cc28a2f9948f7077561006aef95f0be816f4dec10d474a201689081

pkgname = vidi
