pkgbase = vidi-bin
	pkgdesc = Terminal UI for YouTube, Twitch and PeerTube (prebuilt binary)
	pkgver = 0.4.0
	pkgrel = 1
	url = https://codeberg.org/Fel/Vidi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = yt-dlp
	depends = mpv
	optdepends = streamlink: Twitch live stream status and playback
	optdepends = kitty: inline thumbnail previews
	optdepends = ghostty: inline thumbnail previews
	optdepends = wezterm: inline thumbnail previews
	provides = vidi
	conflicts = vidi
	conflicts = vidi-git
	source_x86_64 = vidi-bin-0.4.0-x86_64.tar.gz::https://github.com/Fel-2/Vidi/releases/download/v0.4.0/vidi-v0.4.0-x86_64-unknown-linux-musl.tar.gz
	sha256sums_x86_64 = ad4902fb406c51308af968f369e849ba34f51075fc29d74e21f9e39f1d461138
	source_aarch64 = vidi-bin-0.4.0-aarch64.tar.gz::https://github.com/Fel-2/Vidi/releases/download/v0.4.0/vidi-v0.4.0-aarch64-unknown-linux-musl.tar.gz
	sha256sums_aarch64 = f5b43b7c7223e92e5663e3b24dc98adde0473578607895400ec41121aa48321e

pkgname = vidi-bin
